html/
__pycache__/
frontend/
*.zip
test.py
closesftp
g15key*
sg_ids
namenode.bash
datanode*.bash
test_*.py
*.log
instance_config
analytics.bash
g15pubkey
tfidf.py
pearson_correlation.py
.vscode/*