table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid rgb(131, 131, 131);
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}
th {
  color: white;
  background-color: rgb(131, 131, 131);
}
